/*Font */
@font-face {
    font-family: peaelliebellie;
    src: url("/common/fonts/peaelliebellie.ttf");
}


/* navbar */
.navbar-default {
    background-color: #808080;
    font-family: peaelliebellie;
    border-color: #808080;
    /*border: 0px;*/
    margin: 0;

}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

/* title */
.navbar-default .navbar-brand {
    /*text-shadow: 2px 1px 0 #C3F6DA;*/
    color: #C3F6DA;
    font-size: 30px;
    
}

/*Hover over title*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: #F7A39B;
    color: #C3F6DA;
}
/* link text on navbar*/
.navbar-default .navbar-nav > li > a {
    /*text-shadow: 0px 1px 0 #0000;*/
    color: #C3F6DA;
    font-size : 20px;
}

/*Hover over link item*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #F7A39B;
    color: #C3F6DA;
}

/*Color of clicked navbar dropdown*/
.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus {
  background-color: #F7A39B;
  color: #C3F6DA;
}

.navbar .navbar-nav > li > a:hover{
    background-color: #F7A39B;
}

/*Color of menu items when dropdown is clicked*/
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #808080;
    color: #C3F6DA;
  }


/*Dropdown link*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
     background-color: #808080;
    color: #C3F6DA;
}

/*dropdown link hover color*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
     background-color: #F7A39B;
    color: #C3F6DA;
}


/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: black;
    border-bottom-color: white;
}



body {
    font-family: peaelliebellie;
    background-color: #C3F6DA;
    overflow: hidden;
}


.photocredit{
    color:white;
    font-size: 12px;
    position: fixed;
    right: 0;
    bottom: 0;
}



/* Only Show on screens 1281 px and above */
@media only screen and (min-device-width: 1281px)
{
#top, #bottom, #left, #right {
	background: #808080;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 2.5vw;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 2.5vw;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
    
    
    #frameArea {
        margin-left: 4vh;
        margin-right: 5vh;
        max-height: 90vh;
        overflow: hidden;
    }
    
    #rightFrame {
        max-height: 86vh;
        overflow-x: hidden;
    }
    
    #leftFrame {
        max-height: 88vh;
    }
    
    .container-fluid {
        margin: 0;
        padding: 0;
    }
    
    .non-mobile-hide {
        display: none;
    }
    
    /* Scroll bars */
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #F7A39B; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}

/* Only Show on screens 1280px and below */
@media only screen and (max-device-width: 1280px)
{
    #codycredit, .photocredit{
        color: black;
    }
  
    .mobile-hide{ display: none; }
    
    body {
        overflow-y: scroll;
    }
    
    #rightFrame {
        overflow-y: scroll;
        overflow-x: hidden;
    }

}
