.panel-default > .panel-heading{
    color:white;
    background-color: #808080;
}

.panel-group .panel-heading {
    color: white;
    background-color: #808080;
}

.panel-title {
    color: #F7A39B;
    font-size: 26px;
    text-align: center;
}

.panel-body {
    overflow-y: scroll;
    max-height: 50vh;
    font-size: 16px;
}
/*END PANELS*/


#aboutus {
    margin: 0 auto;
    max-width: 80vw;
    margin-top: 5vh;
}

#whoiskristenimage {
    max-width: 25vw;
}

body {
    background-image: url("/images/weddingparty/thebrideandgroom/backgroundkandc.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
}

.panel-body {
    background-color: #C3F6DA;
    text-align: center;
    font-size: 30px;
}

.panelFrameArea {
        max-height: 80vh;
        overflow: scroll;
}

p {
    font-size: 30px;
}

@media only screen and (max-device-width: 1281px)
{
    p {
        font-size: 24px;
    }
}