@media only screen and (min-device-width: 1281px)
{
    #picture {
        display: block;
        margin: 0 auto;
        max-height: 80vh;
        max-width: 50vw;
        text-align: center;
    }
    
    .textarea {
        text-align: center;
    }
    
    #leftIpFrame {
        margin-left: 5vw;
        max-height: 86vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #rightIpFrame {
        max-height: 86vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media only screen and (max-device-width: 1280px)
{
    #picture {
        max-width: 100%;
    }
}